<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><a href="/myapp/Change_Password/">Change password</a>
<br /><a href="/myapp/Recycle_Verify/"> View Recycle unit</a>
<br /><a href="/myapp/View_Approved_unit/"> View Approved Recycle unit</a>
<br /><a href="/myapp/View_Rejected_unit/"> View Rejected Recycle unit</a>
<br /><a href="/myapp/Worker_Verify/">View worker & Verify</a>
<br /><a href="/myapp/View_Approved_worker/">View approved worker</a>
<br /><a href="/myapp/View_Rejected_worker/">View rejected worker</a>
<br /><a href="/myapp/Pickup_Verify/">View Pickup</a>
<br /><a href="/myapp/View_Approved_Pickup/">View Approved Pickup</a>
<br /><a href="/myapp/View_Rejected_Pickup/">View Rejected Pickup</a>


<br /><a href="/myapp/Add_waste/">Add waste</a>
<br> <a href="/myapp/View_waste/">View Waste</a>
<br /><a href="/myapp/Add_Area/"> Add Area </a>
<br /><a href="/myapp/View_Area/">View Area</a>
<br /><a href="/myapp/View_Alloc/">View area allocation</a>
<br /><a href="/myapp/View_User/">View user</a>
<br /><a href="/myapp/Add_Category/">Add worker category</a>
<br /><a href="/myapp/View_Category/">View worker category</a>
<br /><a href="/myapp/View_Complaint/">View complaints</a>
<br /><a href="/myapp/Feedback/">View feedback</a>
<br />
</body>
</html>
