<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!--/fonts-->
  <link href="//fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/static/Home/assets/css/style-starter.css">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
      <div class="container">
          <nav class="navbar navbar-expand-lg stroke px-0 pt-lg-0">
            <h1> <a class="navbar-brand" href="index.html">
                Smart Waste
            </a></h1>
              <!-- if logo is image enable this   
  <a class="navbar-brand" href="#index.html">
      <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
  </a> -->
              <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                  data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                  <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-lg-auto">
                      <li class="nav-item active">
                          <a class="nav-link" href="/myapp/Admin_home/#abc">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#Blog" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Recycle Unit <span class="fa fa-angle-down"></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/myapp/Recycle_Verify/#abc">Verify Recycle Unit</a>
                              <a class="dropdown-item" href="/myapp/View_Approved_unit/#abc">Approved Recycle Unit</a>
                              <a class="dropdown-item" href="/myapp/View_Rejected_unit/#abc">Rejected Recycle Unit</a>
                          </div>
                      </li><li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#Blog" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Pickup <span class="fa fa-angle-down"></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/myapp/Pickup_Verify/#abc">Verify Pickup</a>
                              <a class="dropdown-item" href="/myapp/View_Approved_Pickup/#abc">Approved Pickup</a>
                              <a class="dropdown-item" href="/myapp/View_Rejected_Pickup/#abc">Rejected Pickup</a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#Blog" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Worker Unit <span class="fa fa-angle-down"></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/myapp/Worker_Verify/#abc">Approve Worker Unit</a>
                              <a class="dropdown-item" href="/myapp/View_Approved_worker/#abc">Approved Worker Unit</a>
                              <a class="dropdown-item" href="/myapp/View_Rejected_worker/#abc">Rejected Worker Unit</a>
                          </div>
                      </li><li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#Blog" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Waste <span class="fa fa-angle-down"></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/myapp/Add_waste/#abc">Add Waste</a>
                              <a class="dropdown-item" href="/myapp/View_waste/#abc">View Waste</a>
                          </div>
                      </li><li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#Blog" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Area <span class="fa fa-angle-down"></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/myapp/Add_Area/#abc">Add Area</a>
                              <a class="dropdown-item" href="/myapp/View_Area/#abc">View Area</a>
                          </div>
                      </li><li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#Blog" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Worker Category <span class="fa fa-angle-down"></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/myapp/Add_Category/#abc">Add Category</a>
                              <a class="dropdown-item" href="/myapp/View_Category/#abc">View Category</a>
                          </div>
                      </li><li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#Blog" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Others <span class="fa fa-angle-down"></span>
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="/myapp/View_User/#abc">Users</a>
                              <a class="dropdown-item" href="/myapp/View_Alloc/#abc">View Area Allocation</a>
                              <a class="dropdown-item" href="/myapp/View_Complaint/#abc">Complaint</a>
                              <a class="dropdown-item" href="/myapp/Feedback/#abc">Feedback</a>
                              <a class="dropdown-item" href="/myapp/Change_Password/#abc">Change Password</a>
                          </div>
                      </li>
                       <li class="nav-item ">
                          <a class="nav-link" href="/myapp/login/#abc" onclick="return confirm('Are You Sure?')">Logout<span class="sr-only">(current)</span></a>
                      </li>
                  </ul>
                  <!--/search-right-->
                  <!--//search-right-->
              </div>
              <!-- toggle switch for light and dark theme -->
{#              <div class="mobile-position">#}
{#                  <nav class="navigation">#}
{#                      <div class="theme-switch-wrapper">#}
{#                          <label class="theme-switch" for="checkbox">#}
{#                              <input type="checkbox" id="checkbox">#}
{#                              <div class="mode-container">#}
{#                                  <i class="gg-sun"></i>#}
{#                                  <i class="gg-moon"></i>#}
{#                              </div>#}
{#                          </label>#}
{#                      </div>#}
{#                  </nav>#}
{#              </div>#}
              <!-- //toggle switch for light and dark theme -->
          </nav>
      </div>
  </header>
  <!--//header-->
  <!-- main-slider -->
  <section class="w3l-main-slider banner-slider" id="home">

        <div class="slider-info banner-view banner-top1">
          <div class="container">

            <div class="banner-info header-hero-19">
              <p class="text-tag">Management</p>
              <h3 class="title-hero-19">We Provide Best Waste Management</h3>
              <div class="d-grid grid-col-3 mai-hero-19">
                <div class="grid-hero-19">
                  <span class="fas fa-box"></span>
                  <div class="right-cont-19">
                    <p class="sub-paragraph">Waste Management </p>
                    <h5><a href="services.html">Recycle</a></h5>
                  </div>
                </div>
                <div class="grid-hero-19">
                  <span class="fas fa-city"></span>
                  <div class="right-cont-19">
                    <p class="sub-paragraph">Waste Management</p>
                    <h5><a href="services.html">Reuse</a></h5>
                  </div>
                </div>
                <div class="grid-hero-19 third-gdw3">
                  <span class="fas fa-sitemap"></span>
                  <div class="right-cont-19">
                    <p class="sub-paragraph"> Waste Management</p>
                    <h5><a href="services.html"> Resell</a></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  </section>
  <!-- /main-slider -->
  <!--/bottom-3-grids-->
  <div class="w3l-3-grids py-5" id="abc">
      {% block body %}

{#    <div class="container py-md-5 py-2">#}
{##}
{#      <!--/row-1-->#}
{#      <div class="row mb-5 pb-lg-4">#}
{#        <div class="col-lg-6 pr-lg-3">#}
{#          <div class="title-content text-left">#}
{#            <h6 class="title-subhny mb-2">About Us</h6>#}
{#            <h3 class="title-w3l"> The clever industrial business you can feel.</h3>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4 pl-lg-5">#}
{##}
{#          <p class="pr-lg-5">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,#}
{#            ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet#}
{#            elit. Non quae, fugiat nihil ad. Lorem ipsum dolor sit amet.</p>#}
{#        </div>#}
{#      </div>#}
{#      <!--//row-1-->#}
{#      <div class="row pt-md-0 pt-5">#}
{#        <div class="col-lg-4 col-md-6 mt-md-0 mt-sm-4 px-lg-0">#}
{#          <div class="grids3-info">#}
{#            <a href="#" class="d-block zoom"><img src="/static/Home/assets/images/1.jpg" alt="" class="img-fluid news-image"></a>#}
{#            <div class="w3-grids3-info">#}
{#              <h6><a href="#category" class="category d-block">Fitting</a></h6>#}
{#              <h4><a href="#"> The arrival of the fitting</a></h4>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-md-6 mt-md-0 mt-4 px-lg-0 grids3-info2">#}
{#          <div class="grids3-info second">#}
{#            <a href="blog-single.html" class="d-block zoom"><img src="/static/Home/assets/images/2.jpg" alt=""#}
{#                class="img-fluid news-image"></a>#}
{#            <div class="w3-grids3-info second">#}
{#              <h6><a href="#category" class="category d-block">Factory</a></h6>#}
{#              <h4><a href="#">Factory business wonder</a></h4>#}
{##}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 px-lg-0">#}
{#          <div class="grids3-info">#}
{#            <a href="blog-single.html" class="d-block zoom"><img src="/static/Homeassets/images/3.jpg" alt=""#}
{#                class="img-fluid news-image"></a>#}
{#            <div class="w3-grids3-info">#}
{#              <h6><a href="#category" class="category d-block">Quality</a></h6>#}
{#              <h4><a href="#"> We Stand Slow In Quality.</a></h4>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
                  {% endblock %}

  </div>
  <!--//bottom-3-grids-->
  <!--/w3l-content-8-->

  <!-- //footer17 -->
  <!-- Template JavaScript -->
  <script src="/static/Home/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/static/Home/assets/js/theme-change.js"></script>
  <script src="/static/Home/assets/js/jquery-1.9.1.min.js"></script>
  <!-- faq -->
  <script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
      const itemToggle = this.getAttribute('aria-expanded');

      for (i = 0; i < items.length; i++) {
        items[i].setAttribute('aria-expanded', 'false');
      }

      if (itemToggle == 'false') {
        this.setAttribute('aria-expanded', 'true');
      }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));
  </script>
  <!-- //faq -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="/static/Home/assets/js/bootstrap.min.js"></script>

</body>

</html>