<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
{%  extends 'Recycleunit/recycleindex.html' %}
{% block body %}
<body><a href="/myapp/recycle_Change_Password/">Change password</a>
<br /><a href="/myapp/View_Profile/"> View Profile</a>
<br /><a href="/myapp/View_Req/"> View Request</a>
<br /><a href="/myapp/Add_Product/"> Add Product</a>
<br /><a href="/myapp/View_Product/">View Product</a>
<br /><a href="/myapp/View_Product_Order/">View Product Order</a>
{##}
{##}
{#<br /><a href="/myapp/Add_waste/">Add waste</a>#}
{#<br> <a href="/myapp/View_waste/">View Waste</a>#}
{#<br /><a href="/myapp/Add_Area/"> Add Area </a>#}
{#<br /><a href="/myapp/View_Area/">View Area</a>#}
{#<br /><a href="/myapp/View_Alloc/">View area allocation</a>#}
{#<br /><a href="/myapp/View_User/">View user</a>#}
{#<br /><a href="/myapp/Add_Category/">Add worker category</a>#}
{#<br /><a href="/myapp/View_Category/">View worker category</a>#}
{#<br /><a href="/myapp/View_Complaint/">View complaints</a>#}
{#<br /><a href="/myapp/Feedback/">View feedback</a>#}
<br />
</body>
{% endblock %}
</html>
